<!DOCTYPE html>
<html>
<head>
    <title>{{page_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap.css" rel="stylesheet" integrity="{{sri.bootstrap_css}}" crossorigin="anonymous">
</head>
<body>
{{{body}}}
<script src="/static/bootstrap.js" crossorigin="anonymous" integrity="{{sri.bootstrap_js}}"></script>
</body>
</html>
