html {
    height: 100%;
}

.homepage {
    background-image: url('../images/home-hero.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.homepage-title {
    @include fill-parent();

    background-color: $background-colour;
    border-bottom: golden-ratio(1rem, -2) solid $accent-colour;
    box-shadow: 0px 0px golden-ratio(1rem, 0) 0px $base-colour;
    font-size: golden-ratio(1rem, 2);
    font-weight: 300;
    line-height: golden-ratio(1rem, 3);
    text-align: center;

    @include media($desktop-min) {
        font-size: golden-ratio(1rem, 4);
        line-height: golden-ratio(1rem, 5);
        margin-top: golden-ratio(1rem, 3);
    }
}

.homepage-image-credit {
    background-color: $background-colour;
    font-size: golden-ratio(1rem, -1);
    opacity: 0.6;
    padding: golden-ratio(1rem, -2);
    position: absolute;
    right: 0;
    bottom: 0;
}

.homepage-actions {
    @include span-columns(10);
    @include shift();
}

%homepage-card {
    @include span-columns(6);

    background-color: $background-colour;
    border-bottom: golden-ratio(1rem, -2) solid $accent-colour;
    box-shadow: 0px 0px golden-ratio(1rem, -1) 0px $base-colour;
    margin-bottom: golden-ratio(1rem, 0);
    margin-top: golden-ratio(1rem, 0);
    padding: golden-ratio(1rem, 0);
}

.places-nearby {
    @extend %homepage-card;
}

.places-search {
    @extend %homepage-card;
}

.weather-homepage {
    @extend %homepage-card;
}
