{% extends "base.html" %}

{% macro timestamp(time) %}
    <time datetime="{{ time.isoformat() }}">{{ time.time().strftime('%H:%M') }}</time>
{% endmacro %}

{% block page_title %}{{ service.name}}{% endblock %}

{% block page_header %}{{ service.name }}{% endblock %}

{% block body %}
    <div class="container">
    <table>
        <thead>
        <tr>
            <th scope="col">Station</th>
            {% if has_platform_information %}<th scope="col">Plat.</th>{% endif %}
            <th scope="col">Arrival</th>
            <th scope="col">Departure</th>
        </tr>
        </thead>
        <tbody>
        {% for calling_point in service.calling_points %}
            {% if calling_point.public_arrival or calling_point.public_departure %}
                <tr>
                    <td>
                        {% if calling_point.station_url %}
                            <a href="{{ calling_point.station_url }}">{{ calling_point.station }}</a>
                        {% else %}
                            {{ calling_point.station }}
                        {% endif %}
                    </td>
                    {% if has_platform_information %}
                        <td>
                            {% if calling_point.platform %}{{ calling_point.platform }}{% else %}&mdash;{% endif %}
                        </td>
                    {% endif %}
                    <td class="calling-point__arrival-status--{{ calling_point.state }}">
                        {% if calling_point.public_arrival %}
                            {% if calling_point.state == 'cancelled' %}
                                <span class="sr-only">Expected</span>
                                <del>{{ timestamp(calling_point.public_arrival) }}</del>
                                <ins>Cancelled</ins>
                            {% elif calling_point.state == 'en-route' %}
                                {% if calling_point.predicted_arrival == calling_point.public_arrival %}
                                    <span class="sr-only">Expected</span>
                                    {{ timestamp(calling_point.public_arrival) }}
                                    <span class="sr-only">running on-time</span>
                                {% else %}
                                    <span class="sr-only">Expected</span>
                                    <del>{{ timestamp(calling_point.public_arrival) }}</del>
                                    <span class="sr-only">delayed until</span>
                                    <ins>{{ timestamp(calling_point.predicted_arrival) }}</ins>
                                {% endif %}
                            {% elif calling_point.state == 'arrival' or calling_point.state == 'departure' %}
                                <span class="sr-only">Expected</span>
                                {% if calling_point.predicted_arrival == calling_point.public_arrival %}
                                    {{ timestamp(calling_point.public_arrival) }}
                                    <span class="sr-only">arrived on-time</span>
                                {% else %}
                                    <del>{{ timestamp(calling_point.public_arrival) }}</del>
                                    <span class="sr-only">arrived late</span>
                                    <ins>{{ timestamp(calling_point.predicted_arrival) }}</ins>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            &mdash;
                        {% endif %}
                    </td>
                    <td class="calling-point__departure-status--{{ calling_point.state }}">
                        {% if calling_point.public_departure %}
                            {% if calling_point.state == 'cancelled' %}
                                <span class="sr-only">Expected</span>
                                <del>{{ timestamp(calling_point.public_departure) }}</del>
                                <ins>Cancelled</ins>
                            {% elif calling_point.state == 'en-route' or calling_point.state == 'arrival' %}
                                {% if calling_point.predicted_departure == calling_point.public_departure %}
                                    <span class="sr-only">Expected</span>
                                    {{ timestamp(calling_point.predicted_departure) }}
                                    <span class="sr-only">running on-time</span>
                                {% else %}
                                    <span class="sr-only">Expected</span>
                                    <del>{{ timestamp(calling_point.public_departure) }}</del>
                                    <span class="sr-only">delayed until</span>
                                    <ins>{{ timestamp(calling_point.predicted_departure) }}</ins>
                                {% endif %}
                            {% elif calling_point.state == 'departure' %}
                                <span class="sr-only">Expected</span>
                                {% if calling_point.predicted_departure == calling_point.public_departure %}
                                    {{ timestamp(calling_point.public_departure) }}
                                    <span class="sr-only">departed on-time</span>
                                {% else %}
                                    <del>{{ timestamp(calling_point.public_departure) }}</del>
                                    <span class="sr-only">departed late</span>
                                    <ins>{{ timestamp(calling_point.predicted_departure) }}</ins>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            &mdash;
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    {% if service_type == 'train' %}
        <img src="/static/images/powered_by_nre.png" alt="Powered by National Rail Enquiries">
    {% endif %}
    </div>
{% endblock %}
