{% extends "base.html" %}

{% block page_title %}Departures at {{ station.name }}{% endblock %}

{% block page_header %}{{ station.name }}{% endblock %}

{% block body %}

    <div class="container">
        <ul class="departures-list" role="navigation">
            {% if station['stop-type'] == 'metrolink-station' %}
                <li class="departure--none">
                    The information below is timetable only, real-time information is not yet available.
                </li>
            {% endif %}
            {% for destination, services in departures.items() %}
                <li class="departure">
                    <table class="departure__table">
                        <caption class="departure__destination">
                            <h2 class="departure__final-destination">{{ destination }}</h2>
                        </caption>
                        <thead>
                        <tr>
                            <th scope="col">Planned Departure</th>
                            <th scope="col">State</th>
                            {% if has_platform_information %}<th scope="col">Platform</th>{% endif %}
                            {% if services.0.route_identifier %}
                                <th scope="col">Via</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for service in services %}
                        <tr>
                            <td>
                                <a href="{{ service.url }}">
                                    {{ service.public_departure.time().strftime('%H:%M') }}
                                </a>
                            </td>
                            <td>
                                {% if service.state == 'en-route' %}
                                    {% if service.public_departure >= service.predicted_departure %}
                                        On time
                                    {% else %}
                                        Delayed {{ service.predicted_departure.time().strftime('%H:%M') }}
                                    {% endif %}
                                {% elif service.state == 'arrival' %}
                                    At platform
                                {% elif service.state == 'departure' %}
                                    Departed
                                {% elif service.state == 'cancelled' %}
                                    Cancelled
                                {% endif %}
                            </td>
                            {% if has_platform_information %}
                                <td>{% if service.platform %}Plat. {{ service.platform }}{% else %}&mdash;{% endif %}</td>
                            {% endif %}
                            {% if service.route_identifier %}
                                <td>{{ service.route_identifier }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </li>
            {% else %}
                <li class="departure--none">There are currently no departures scheduled from this station</li>
            {% endfor %}
        </ul>

        <div class="location-map">
            <p class="no-js-warning"><em>Sorry, you need a modern browser with JavaScript to use this feature.</em></p>
        </div>

        <dl class="location-metadata">
            {% if station['stop-type'] == 'rail-station' %}
                <dt>Real-time information</dt>
                <dd><img src="/static/images/powered_by_nre.png" alt="Powered by National Rail Enquiries"></dd>
            {% endif %}
        </dl>
    </div>

{% endblock %}
