{% extends "base.html" %}

{% block page_title %}Departures at {{ station.name }}{% endblock %}

{% block page_header %}{{ station.name }}{% endblock %}

{% block body %}

    <div class="container">
        <p class="warning">
            The data on this page show scheduled data only, not real-time. Please see
            <a href="http://ojp.nationalrail.co.uk/service/ldbboard/dep/{{ station.identifier }}">National Rail Enquiries</a> for real-time running data.
        </p>
        <ul class="departures-list" role="navigation">
            {% for destination, services in departures.items() %}
                <li class="departure">
                    <table class="departure__table">
                        <caption class="departure__destination">
                            <h2 class="departure__final-destination">{{ destination }}</h2>
                        </caption>
                        <thead>
                        <tr>
                            <th scope="col">Planned Departure</th>
                            <th scope="col">State</th>
                            <th scope="col">Platform</th>
                            {% if services.0.route_identifier %}
                                <th scope="col">Via</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for service in services %}
                        <tr>
                            <td>
                                <a href="{{ service.url }}">
                                    {{ service.public_departure.time().strftime('%H:%M') }}
                                </a>
                            </td>
                            <td>
                                {% if service.state == 'en-route' %}
                                    {% if service.public_departure <= service.predicted_departure %}
                                        On time
                                    {% else %}
                                        Delayed {{ service.predicted_departure.time().strftime('%H:%M') }}
                                    {% endif %}
                                {% elif service.state == 'arrival' %}
                                    At platform
                                {% elif service.state == 'departure' %}
                                    Departed
                                {% elif service.state == 'cancelled' %}
                                    Cancelled
                                {% endif %}
                            </td>
                            <td>{% if service.platform %}Plat. {{ service.platform }}{% else %}&mdash;{% endif %}</td>
                            {% if service.route_identifier %}
                                <td>{{ service.route_identifier }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </li>
            {% else %}
                <li class="departure--none">There are currently no departures scheduled from this station</li>
            {% endfor %}
        </ul>

        <div class="location-map">
            <p class="no-js-warning"><em>Sorry, you need a modern browser with JavaScript to use this feature.</em></p>
        </div>

        <dl class="location-metadata" role="navigation">
            <dt>Station Type</dt>
            <dd>{{ station['stop-type'] }}</dd>
        </dl>
    </div>

{% endblock %}
