<div class="places-search">
    <form action="{{ link.href }}" method="get">
        <label for="q">Search terms:</label>
        <input type="search" name="q">
        <input type="submit" value="Search for this place">
    </form>
</div>
