.action-grid {
  @include clearfix;

  margin: $base-spacing 0;
  position: relative;

  button {
    color: $base-font-color;
    white-space: normal;
  }
}

.action-grid__action {
  $grid-item-border: 1px solid transparentize($base-font-color, .8);

  @include transition (all .2s ease-in-out);

  background: $base-background-color;
  border-bottom: $grid-item-border;
  border-right: $grid-item-border;
  cursor: pointer;
  float: left;
  overflow: hidden;
  width: 100%;

  @include media($large-screen) {
    @include span-columns(4);
    padding: 2em;
  }

  &:hover {
    background: transparentize($base-font-color, .95);
  }

  h2 {
    color: $base-font-color;
    font-size: 1.3em;
    margin-bottom: .4em;
  }
}

.nearby-station-search h2 {
  &:before {
    @include sprite-rail-station-small;

    content: '';
    display: inline-block;
    margin-right: $base-spacing / 2;
    vertical-align: middle;

    @include media($large-screen) {
      @include sprite-rail-station;

      display: block;
      margin: 0 auto $base-spacing / 2;
    }
  }
}
