<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/stylesheets/manchesterio.css" />
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}{% block title_bit %}{% endblock %} - manchester.io{% endblock %}</title>
</head>
<body class="{% block extra_body_classes %}{% endblock %}">
<article>
    {% block body %}
    {% endblock %}
</article>
<script src="/static/js/manchesterio.js"></script>
<script>require(['manchesterio/main'],function(m){m()})</script>
</body>
</html>
