.leaflet-div-icon {
  background: transparent;
  border: 0;
}

.leaflet-marker-icon .number {
  font-size: 12px;
  line-height: 12px;
  position: relative;
  text-align: center;
  top: -39px;
  width: 25px;
}
